<h1><strong>Products</strong></h1>
<h3 style="color: brown">{{error}}</h3>


<hr>
<br>

<h2>Welcome <span style="color: rgb(77, 77, 77)">{{user.first_name}}</span></h2>


    <h2>Create a product (only for admin and premium)</h2>
    <form method="post" action="/api/products/" enctype="multipart/form-data">
        <input class="text" type="text" placeholder="Write the title" name="title" required>
            <br/>

        <input class="text" type="text" placeholder="Write the description" name="description">
            <br/>

        <input class="text" type="text" placeholder="Write the code" name="code">
            <br/>
        
        <input class="text" min="0" placeholder="Write the price" type="number" name="price" required>
            <br/>

        <input class="text" min="0" placeholder="Write the stock available" type="number" name="stock" required>
            <br/>

        <label>Choose one category</label>
        <select class="efect" name="category" id="category" required>
            <option value="Shoes">Shoes</option>
            <option value="Clothes">Clothes</option>
        </select>
            <br/> 

        <input class="efect" type="file" name="thumbnail" required>
            <br/>

        <button class="efect">Create product</button>
    </form>


<hr>
<br>
<br>



{{#if payload}}
    <h2>List of products</h2>
    <br/>

    <ul>
        {{#each payload}}
            <div id={{this._id}}>
                <li>Title: {{this.title}}</li>
                <li>Description: {{this.description}}</li>
                <li>Price: {{this.price}}</li>
                <li>Stock: {{this.stock}}</li>
                <button class="btn efect" data-product-id="{{this._id}}">Add to cart</button>
            </div>
            <br>
            <br/>
        {{/each}}
    </ul>

    {{#if hasPrevPage}}
        <a href={{prevLink}}>Prev</a>
    {{/if}}

    <h3>{{page}}</h3>

    {{#if hasNextPage}}
        <a href={{nextLink}}>Next</a>
    {{/if}}


{{else}}
    <h2>Not found products</h2>
{{/if}}

<br/>


<script src="/js/products.js"></script>