<h1><strong>Products</strong></h1>
<h3 style="color: brown">{{error}}</h3>

<hr>
<br>

{{#if payload}}
    <h3><strong>List of products</strong></h3>

    <ul>
        {{#each payload}}
            <li>Title: {{this.title}}</li>
            <li>Price: {{this.price}}</li>
            <li>Stock: {{this.stock}}</li>
            <button class="btn" data-product-id="{{this._id}}">Add to cart</button>
        {{/each}}
    </ul>


    {{#if hasPrevPage}}
        <a href={{prevLink}}>Prev</a>
    {{/if}}

    <h4>{{page}}</h4>

    {{#if hasNextPage}}
        <a href={{nextLink}}>Next</a>
    {{/if}}


{{else}}
    <h3><strong>Not found products</strong></h3>
{{/if}}


<script src="/js/products.js"></script>